@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>
<body>
    <div>
        <form >
            <br />
            <div>
                <b>商品一：价格为<span style="color:#f00;font-size:50px">1分</span>钱</b><br /><br />
            </div>
            <div align="center">
                <input onclick="" value="立即购买"/>
                
            </div>
            <br /><br /><br />
            <div>
                <b>商品二：价格为<span style="color:#f00;font-size:50px">2分</span>钱</b><br /><br />
            </div>
            <div align="center">
                <input onclick="" value="立即购买" />
                
            </div>
        </form>
    </div>

    <script type="text/javascript">
          //获取共享地址
          function editAddress()
          {
             WeixinJSBridge.invoke(
                 'editAddress',
                 @ViewBag.wxEditAddrParam,//josn串
                   function (res)
                   {
                       var addr1 = res.proviceFirstStageName;
                       var addr2 = res.addressCitySecondStageName;
                       var addr3 = res.addressCountiesThirdStageName;
                       var addr4 = res.addressDetailInfo;
                       var tel = res.telNumber;
                       var addr = addr1 + addr2 + addr3 + addr4;
                       alert(addr + ":" + tel);
                   }
               );
         }

           window.onload = function ()
           {
               if (typeof WeixinJSBridge == "undefined")
               {
                   if (document.addEventListener)
                   {
                       document.addEventListener('WeixinJSBridgeReady', editAddress, false);
                   }
                   else if (document.attachEvent)
                   {
                       document.attachEvent('WeixinJSBridgeReady', editAddress);
                       document.attachEvent('onWeixinJSBridgeReady', editAddress);
                   }
               }
               else
               {
                   editAddress();
               }
           };

    </script>

</body>
</html>
