@{
    ViewBag.Title = "条款";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="color-green pull-left">交易条款</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">主页</a> <span class="divider">/</span></li>
            <li class="active">交易条款</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container">
    <p>
        ZEUSPARK.COM在线艺术市场（www.zeuspark.com）上的商品由上海煜铭实业有限公司（“ZEUSPARK.COM）或其关联公司或第三方卖家销售。如果您在ZEUSPARK网购物，您便接受了以下交易条款。请仔细阅读这些条款。当您使用ZEUSPARK.COM目前或将来提供的服务（例如，我的账户、拍卖、VIP会员、画廊、相关服务等）时，您同时应接受适用于那些服务的条款、准则和条件（“特殊条款”）；如果以下交易条款与特殊条款有不一致之处，则以特殊条款为准。通过ZEUSPARK.COM购买商品和/或使用其提供的服务，您同意接受本交易条款和所有有关的政策、条件和准则的约束。如果您不同意本交易条款中的任何一条，您可以选择不在ZEUSPARK.COM购买商品或接受服务。 ”
    </p>
    <p>
        1. ZEUSPARK.COM账户
        您注册成功后，ZEUSPARK.COM将为您开通一个账户，作为您在ZEUSPARK.COM交易及使用ZEUSPARK.COM服务时的唯一身份标识，该账户的登录名和密码由您负责保管。如果您使用ZEUSPARK.COM网站，您有责任对您的账户和密码保守秘密并对进入您的计算机作出限制，并且您同意对在您的账户和密码下发生的所有活动承担责任。ZEUSPARK.COM上销售的部分艺术品可能会给您带来心理或生理上带来不适，对此请您斟酌进入。如果您在18岁以下，您只能在父母或监护人的参与下才能使用ZEUSPARK.COM。ZEUSPARK.COM保留在中华人民共和国法律允许的范围内独自决定拒绝服务、关闭账户、清除或编辑内容或取消订单的权利。
        用户在申请使用ZEUSPARK.COM网络服务时，必须准确提供必要的资料，如资料有任何变动 ，请在ZEUSPARK.COM网站（www.ZEUSPARK.COM）上及时更新。
    </p>
    <p>
        2. 合同的订立
        ZEUSPARK.COM站上的商品图片展示、说明和价格并不构成要约。如果您通过我们网站订购产品，您的订单就成为一种购买产品的申请或要约。我们将发送给您一封确认收到订单的电子邮件，其中载明订单的细节。但是只有当我们向您发出送货确认的电子邮件通知您我们已将产品发出时，我们对您合同申请的批准与接受才成立。如果您在一份订单里订购了多种产品并且我们只给您发出了关于其中一部分的发货确认电子邮件，那么直到我们发出关于其他产品的发货确认电子邮件，关于那部分产品的合同才成立。当您所购买的商品离开了ZEUSPARK.COM的库房时，该物品的所有权和灭失风险即转移到您这一方。
        ZEUSPARK.COM保留对产品订购的数量的限制权。在下订单的同时，您也同时承认了您拥有购买这些产品的权利能力和行为能力，并且您对您在订单中提供的所有信息的真实性负责。
    </p>
    <p>
        3. 产品说明
        ZEUSPARK.COM努力使产品说明尽可能准确。不过，我们并不保证产品说明或ZEUSPARK.COM网站上的其他内容是准确的、完整的、可靠的、最新的或无错误的。如果ZEUSPARK.COM提供的产品本身并非如说明所说，您唯一的救济是将该未经使用过的产品退还我们。
    </p>
    <p>
        4. 价格
        直到您发出订单，我们才能确认商品的价格。尽管我们做出最大的努力，我们的商品目录里的一小部分商品可能会有定价错误。如果我们发现错误定价，我们将采取下列之一措施：
        (1)如果某一商品的正确定价低于我们的错误定价，我们将按照较低的定价向您销售交付该商品。
        (2)如果某一商品的正确定价高于我们的错误定价，我们会根据我们的情况决定,是否在交付前联系您寻求您的指示, 或者取消订单、停止发货并通知您。
    </p>
    <p>
        5. 价格变化和缺货
        产品的价格和可获性都在ZEUSPARK.COM站上指明。这类信息将随时更改且不发任何通知。商品的价格都包含了增值税。送货费将另外结算，费用根据您选择的送货方式的不同而异。如果发生了意外情况，在确认了您的订单后，由于供应商提价，税额变化引起的价格变化，或是由于网站的错误等造成商品价格变化，您有权取消您的订单，并希望您能及时通过电子邮件或电话通知ZEUSPARK.COM客户服务部。
        您所订购的商品，如果发生缺货，您有权取消订单。
    </p>
    <p>
        6. 送货
        ZEUSPARK.COM将会把产品送到您所指定的送货地址。所有在ZEUSPARK.COM站上列出的送货时间为参考时间，参考时间的计算是根据库存状况、正常的处理过程和送货时间、送货地点的基础上估计得出的。参考时间不代表等同于到货时间。
        请清楚准确地填写您的真实姓名、送货地址及联系方式。因如下情况造成订单延迟或无法配送等，ZEUSPARK.COM将无法承担迟延配送的责任：
        (1)您提供的信息错误或不够详细；
        (2)货物送达无人签收，及由此造成的重复配送所产生的费用及后果；
        (3)不可抗力，例如：自然灾害、交通戒严、罢工、骚乱、政府行为、突发战争等。
    </p>
    <p>
        7. 退款政策
        退货或换货商品缺货时产生的现金款项，退回方式视支付方式的不同而不同：
        (1)网上支付的订单，退款退回至原支付卡；
        (2)银行转账或邮局汇款支付的订单，退款退回至下订单账户的账户余额中。
    </p>
    <p>
        8. ZEUSPARK.COM的账户余额自助提现功能
        ZEUSPARK.COM为您提供了账户余额自助提现功能，在提交提现申请单时，您也同时承认了您拥有提现账户余额的权利能力和行为能力，并且将对您在申请单中提供的所有信息的真实性负责。
    </p>
    <p>
        9. 邮件/短信服务
        当您访问ZEUSPARK.COM站或给我们发送电子邮件时，您与我们用电子方式进行联系。您同意以电子方式接受我们的信息。我们将用电子邮件或通过在ZEUSPARK.COM上发布通知的方式与您进行联系。您同意我们用电子方式提供给您的所有协议、通知、披露和其他信息是符合此类通讯必须是书面形式的法定要求的。如果ZEUSPARK.COM能够证明以电子形式的信息已经发送给您或者ZEUSPARK.COM立即在ZEUSPARK.COM网站上张贴这样的通知，将被视为您已收到所有协议、声明、披露和其他信息。
        ZEUSPARK.COM保留通过邮件和短信的形式，对本网站注册、购物用户发送订单信息、促销活动等告知服务的权利。如果您在ZEUSPARK.COM注册、购物，表明您已默示同意接受此项服务。
        若您不希望接收ZEUSPARK.COM的邮件，请在邮件下方输入您的E-mail地址自助完成退阅；若您不希望接收ZEUSPARK.COM的短信，请提供您的手机号码联系客服。
    </p>
    <p>
        10. 版权声明
        ZEUSPARK.COM站上的所有内容诸如文字、图表、标识、按钮图标、图像、声音文件片段、数字下载、数据编辑和软件、商标都是ZEUSPARK.COM或其内容提供者的财产，受中国和国际版权法的保护。未经ZEUSPARK.COM书面授权或许可，不得以任何目的对ZEUSPARK.COM网站或其任何部分进行复制、复印、仿造、出售、转售、访问、或以其他方式加以利用。
    </p>
    <p>
        11. 隐私声明
        ZEUSPARK.COM不会向任何第三方披露、转让、出租或者出售交易用户名单、交易记录等涉及消费者个人信息的数据以及您保存在ZEUSPARK.COM各项服务中的非公开内容，除非您明确授权ZEUSPARK.COM，或ZEUSPARK.COM在诚信基础上认为透露这些信息是必要的。您了解并同意，ZEUSPARK.COM有权根据相应法律法规的要求，或应政府部门（包括司法及行政部门）的要求，向其提供您在ZEUSPARK.COM填写的注册信息和交易纪录等必要信息。如您涉嫌侵犯他人知识产权，则ZEUSPARK.COM亦有权在初步判断涉嫌侵权行为存在的情况下，向权利人提供您必要的身份信息。
    </p>
    <p>
        12. 评论、意见、消息和其他内容
        访问者可以张贴评论、意见及其他内容，以及提出建议、主意、意见、问题或其他信息，只要内容不是非法、淫秽、威胁、诽谤、侵犯隐私、侵犯知识产权或以其他形式对第三者构成伤害或侵犯或令公众讨厌，也不包含软件病毒、政治宣传、商业招揽、连锁信、大宗邮件或任何形式的“垃圾邮件”。您不可以使用虚假的电子邮件地址、冒充任何他人或实体或以其它方式对卡片或其他内容的来源进行误导。ZEUSPARK.COM保留清除或编辑这些内容的权利（但非义务），但不对所张贴的内容进行经常性的审查。
        如果您确实张贴了内容或提交了材料，除非我们有相反指示，您授予ZEUSPARK.COM非排他的、免费的、永久的、不可撤销的和完全的再许可权而在全世界范围内任何媒体上使用、复制、修改、改写、出版、翻译、创作衍生作品、分发和展示这样的内容。您授予ZEUSPARK.COM和被转许可人使用您所提交的与这些内容有关的名字的权利，如果他们选择这样做的话。您声明并担保您拥有或以其它方式控制您所张贴内容的权利，内容是准确的，对您所提供内容的使用不违反本政策并不会对任何人和实体造成伤害。您声明并保证对于因您所提供的内容引起的对ZEUSPARK.COM的损害进行赔偿。ZEUSPARK.COM有权（但非义务）监控和编辑或清除任何活动或内容。ZEUSPARK.COM对您或任何第三方所张贴的内容不承担责任。
    </p>
    <p>
        13. 其他企业
        ZEUSPARK.COM之外的其他个人或企业可能在ZEUSPARK.COM上经营画廊、提供服务或者销售产品。另外，我们提供与其他企业的链接。我们不负责审查和评估也不担保任何这些企业或个人的待售商品及它们网站的内容。除ZEUSPARK.COM明示的情况以外，我们对所有这些企业或任何其他第三人或其网站的行为、产品和内容不承担责任。您应仔细阅读它们自己的隐私政策及使用条件。
    </p>
    <p>
        14. ZEUSPARK.COM会员制计划（VIP计划）
        ZEUSPARK.COM的会员制计划（VIP计划）由ZEUSPARK.COM提供。该计划条款和条件，连同计划有关的任何促销内容的相应条款和条件，构成该计划会员与ZEUSPARK.COM之间关于会员制度的完整协议。如果您参加计划，您就接受了这些条款、条件、限制和要求。请注意，您对ZEUSPARK.COM站的使用以及您的会员资格还受制于ZEUSPARK.COM站上时常更新的所有条款、条件、限制和要求，请仔细阅读这些条款和条件。ZEUSPARK.COM可以不经通知而自行决定终止全部或部分计划，或终止您的计划会员资格。即使ZEUSPARK.COM没有要求或强制您严格遵守这些条款，也并不构成对属于ZEUSPARK.COM的任何权利的放弃。
        如果您在ZEUSPARK.COM的客户账户被关闭，那么您也将丧失您的会员资格。对于该会员资格的丧失，您对ZEUSPARK.COM不能主张任何权利或为此索赔。
        除了ZEUSPARK.COM的使用条件中规定的其它限制和除外情况之外，在中国法律法规所允许的限度内，对于因VIP计划而引起的或与之有关的任何直接的、间接的、特殊的、附带的、后果性的或惩罚性的损害，或任何其它性质的损害， ZEUSPARK.COM、ZEUSPARK.COM的董事、管理人员、雇员、代理或其它代表在任何情况下都不承担责任。ZEUSPARK.COM的全部责任，不论是合同、保证、侵权（包括过失）项下的还是其它的责任，均不超过您所购买的与该索赔有关的商品价值额。这些责任排除和限制条款将在法律所允许的最大限度内适用，并在您的计划会员资格被撤销或终止后仍继续有效。
    </p>
    <p>
        15. 责任限制和不可抗力
        不论在任何情况下，ZEUSPARK.COM均不对由于互联网正常的设备维护，互联网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，暴乱，骚乱，火灾、洪水、风暴，爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能履行或延迟履行承担责任。
    </p>
    <p>
        16. 条款的修订
        ZEUSPARK.COM有权根据需要不时地制定、修改本交易条款及/或各类特殊条款，并以网站公示的方式进行公告，不再单独通知您。变更后的交易条款和特殊条款一经在网站公布后，立即自动生效。如您不同意相关变更，应当立即停止从ZEUSPARK.COM购买商品或使用ZEUSPARK.COM服务。您继续使用从ZEUSPARK.COM购买商品或使用ZEUSPARK.COM服务的，即表示您接受经修订的交易条款。
    </p>
    <p>
        17. 条款的可执行性
        如果出于任何原因，这些交易条款及其条件的部分不能得以执行，其他条款及其条件的有效性将不受影响。
    </p>
    <p>
        18. 适用的法律和管辖权
        您和ZEUSPARK.COM之间的契约将适用中华人民共和国的法律，所有的争端将诉诸于ZEUSPARK.COM所在地的人民法院。
    </p>
</div>
