@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/assets/plugins/flexslider/flexslider.css")" type="text/css" media="screen" />
<link rel="stylesheet" href="@Url.Content("~/assets/plugins/parallax-slider/css/parallax-slider.css")" type="text/css" />

<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>艺术 &amp; 生活</i> <br /> <i>ZeusPark</i> <br /> <i>设计</i></h2>
            <p><i>Art</i> <br /> <i>Life</i> <br /> <i>Design</i></p>
            <div class="da-img"><img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/s1.png" alt="" /></div>
        </div>
        <div class="da-slide">
            <h2><i>场景</i> <br /> <i>品味</i> <br /> <i>高雅</i></h2>
            <p><i>Taste</i> <br /> <i>Elegant</i></p>
            <div class="da-img span6">
                <div class="span6">
                    <iframe src="http://player.youku.com/embed/XMTM3NzE3MDg3Mg==" width="470" height="310" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>贴心</i> <br /> <i>服务</i> <br /> <i>大众</i></h2>
            <p><i>Close</i> <br /> <i>Service</i> <br /> <i>People </i></p>
            <div class="da-img"><img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/s3.png" alt="image01" /></div>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
    </div><!--/da-slider-->
</div><!--/slider-->
<!--=== End Slider ===-->
<!--=== Purchase Block ===-->
<div class="row-fluid purchase margin-bottom-30">
    <div class="container">
        <div class="span9">
            <span>ZEUSPARK(粹園) 属于您の精致生活</span>
            <p>注册或使用微信登录成为会员,点击左上角按钮登录，即可点击“上传 作品” 按钮。</p>
        </div>
        @{
            if (Session["UserID"] != null)
            {
                <a href="@Url.Action("UploadArticle","User")" class="btn-buy hover-effect">上传 作品</a>
            }
            else
            {
                <a href="@Url.Action("Login","User")" class="btn-buy hover-effect">上传 作品</a>
            }
}
    </div>
</div><!--/row-fluid-->
<!-- End Purchase Block -->
<!--=== Content Part ===-->
<div class="container">
    <!-- Service Blocks -->
    <div class="row-fluid">
        <div class="span4">
            <div class="service clearfix">
                <i class="icon-resize-small"></i>
                <div class="desc">
                    <h4>私享生活 Art&Life</h4>
                    <p>我们努力用极富创意与美感的艺术衍生品来点缀生活，赋予居家生活极富色彩的意义</p>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="service clearfix">
                <i class="icon-cogs"></i>
                <div class="desc">
                    <h4>精选艺术 Artist</h4>
                    <p>艺术品能够以生动、直观的形式展示，让更多的大众接触到艺术品更为本源的内容和创作含义</p>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="service clearfix">
                <i class="icon-plane"></i>
                <div class="desc">
                    <h4>设计服务 Art Service</h4>
                    <p>室内外设计、艺术影像、平面设计、传媒营销</p>
                </div>
            </div>
        </div>
    </div><!--/row-fluid-->
    <!-- //End Service Blokcs -->
    <!-- Recent Works -->
    <div class="headline"><h3>热销产品 HOT</h3></div>
    <ul class="thumbnails">
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/hot1.jpg" alt="" /></div>
                    <a class="btn-more hover-effect" href="/productdetail/details/425">更多 +</a>
                </div>
                <h3><a class="hover-effect" href="#">花 时间</a></h3>
                <p>繁忙的生活没有时间可以浪费，但可以花时间做梦；梦时心灵收获滋润，身心放松、远离喧嚣、游历于花的世界，豁然明白人世如此美好；花时间，还有什么不能抛开？</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/hot2.jpg" alt="" /></div>
                    <a class="btn-more hover-effect" href="/productdetail/details/419">更多 +</a>
                </div>
                <h3><a class="hover-effect" href="#">画</a></h3>
                <p>使中国画作为艺术形式不再画地为牢而有更大的表现空间，全新创作以自然和人的关系为核心的中国式新工笔人物</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/hot5.jpg" alt="" /></div>
                    <a class="btn-more hover-effect" href="/productdetail/details/419">更多 +</a>
                </div>
                <h3><a class="hover-effect" href="#">完美新娘</a></h3>
                <p>是不是觉得自己即将举办的婚礼上还差点什么？是不是总为朋友大婚礼物头痛？时光花事蜜蜜系列之完美新娘空降现场，绝对为浪漫锦上添花。闺蜜、战斗或是藏在梦境里的那些秘密？完美新娘系列礼裙由进口顶级永生花全手工匠心打造，甜蜜无与伦比。</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/hot4.JPG" alt="" /></div>
                    <a class="btn-more hover-effect" href="/productdetail/details/291">更多 +</a>
                </div>
                <h3><a class="hover-effect" href="#">和合</a></h3>
                <p>作品《和合》以具象雕塑为自己的创作语言，表达自己当代的视觉。关注雕塑者的灵魂，塑造自己眼中的美丽世界。</p>
            </div>
        </li>
    </ul><!--/thumbnails-->
    <!-- //End Recent Works -->
    <!-- Information Blokcs -->
    <div class="row-fluid margin-bottom-20">
        <!-- Who We Are -->
        <div class="span8">
            <div class="headline"><h3>艺术家通讯</h3></div>
            <p>
                <img class="pull-left lft-img-margin img-width-200" src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/zj/zj2.jpg" alt="" />
                張婷崴 天津美術學院 油畫 學士， 中央美術學院 油畫  碩士
            </p>
            <ul class="unstyled">
                <li><i class="icon-ok color-green"></i> 2012 覺醒|天津美術學院鳳凰畫材創作展 一等獎</li>
                <li><i class="icon-ok color-green"></i> 2012 蜜點|天津美術學院牛頓之星獎學金作品展 二等獎</li>
                <li><i class="icon-ok color-green"></i> 2013 DESIRE HUNGER|天津美術學院博物館收藏</li>
                <li><i class="icon-ok color-green"></i> 2015 Dear Diary系列三張|北京大韵堂藝廊收藏</li>
            </ul><br />
            <blockquote class="hero-unify">
                <p>2015 张婷崴个展“一场缪斯的品啜与遗忘，欲念栖息逗留”  </p>
                <small>千里之行中國重點美術學院校2013屆畢業生優秀作品集|2013|奢望,欲望</small>
            </blockquote>
        </div><!--/span8-->
        <!-- Latest Shots -->
        <div class="span4">
            <div class="headline"><h3>代表作品</h3></div>
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/zj/zj1.jpg" alt="" />
                        <div class="carousel-caption">
                            <p>创作中</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/zj/zj3.jpg" alt="" />
                        <div class="carousel-caption">
                            <p>张婷崴与他的作品的合影</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/zj/zj4.jpg" alt="" />
                        <div class="carousel-caption">
                            <p>L’ENVIE D’AIMER</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-arrow">
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="icon-angle-left"></i></a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="icon-angle-right"></i></a>
                </div>
            </div>
        </div><!--/span4-->
    </div><!--/row-fluid-->
    <!-- //End Information Blokcs -->
    <!-- Our Clients -->
    <div id="clients-flexslider" class="flexslider home clients">
        <div class="headline"><h3>新品上市</h3></div>
        <ul class="slides">
            <li>
                <a href="#">
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/1.png" alt="" />
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/1h.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/2.png" alt="" />
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/2h.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/3.png" alt="" />
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/3h.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/4.png" alt="" />
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/4h.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/5.png" alt="" />
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/5h.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/6.png" alt="" />
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/6h.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/7.png" alt="" />
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/7h.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/8.png" alt="" />
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/8h.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/9.png" alt="" />
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/9h.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/10.png" alt="" />
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/10h.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/11.png" alt="" />
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/11h.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/1.png" alt="" />
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/1h.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/2.png" alt="" />
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/2h.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/3.png" alt="" />
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/3h.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/4.png" alt="" />
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/4h.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/5.png" alt="" />
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/5h.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/6.png" alt="" />
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/6h.png" class="color-img" alt="" />
                </a>
            </li>
        </ul>
    </div><!--/flexslider-->
    <!-- //End Our Clients -->
</div><!--/container-->
