@{
    ViewBag.Title = "上传作品";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section customstyles{
        <!--This CSS entry was added by the Telerik VS Extensions for compatibility reasons-->

}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-20">
    <div class="container">
        <h1 class="color-green pull-left">上传作品</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="~/">主页</a> <span class="divider">/</span></li>
            <li>会员<span class="divider">/</span></li>
            <li class="active">上传作品</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container">
    <div class="row-fluid">
        <div class="span3">
            <!-- Posts -->
            <div class="posts margin-bottom-20">
                <div class="headline"><h3>会员管理</h3></div>
                <dl class="dl-horizontal">
                    <dt><a href="#"><img src="/assets/img/sliders/elastislide/6.jpg" alt="" /></a></dt>
                    <dd>
                        <p><a href="#">作品上传</a></p>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><a href="#"><img src="/assets/img/sliders/elastislide/10.jpg" alt="" /></a></dt>
                    <dd>
                        <p><a href="#">会员信息</a></p>
                    </dd>
                </dl>
            </div><!--/posts-->
            <!-- Contact Us -->
            <div class="who margin-bottom-30">
                <div class="headline"><h3>联系我们</h3></div>
                <p></p>
                <ul class="unstyled">
                    <li><a href="#"><i class="icon-envelope-alt"></i>service@zeuspark.com</a></li>
                    <li><a href="#"><i class="icon-globe"></i>http://www.zeuspark.com</a></li>
                </ul>
            </div>
        </div><!--/span3-->

        <div class="span9">
            <i class="icon-ok-sign icon-3x" style="color:green"></i> 你的作品已经成功上传。后台服务人员会审核你的信息，如果审核通过，你的作品会发布到平台上。
        </div><!--/span9-->
    </div><!--/row-fluid-->
    <!-- Our Clients -->
    <div id="clients-flexslider" class="flexslider home clients">
        <div class="headline"><h3>新上传作品</h3></div>
        @*<ul class="slides">
            <li>
                <a href="#">
                    <img src="/assets/img/clients/hp_grey.png" alt="" />
                    <img src="/assets/img/clients/hp.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/igneus_grey.png" alt="" />
                    <img src="/assets/img/clients/igneus.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/vadafone_grey.png" alt="" />
                    <img src="/assets/img/clients/vadafone.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/walmart_grey.png" alt="" />
                    <img src="/assets/img/clients/walmart.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/shell_grey.png" alt="" />
                    <img src="/assets/img/clients/shell.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/natural_grey.png" alt="" />
                    <img src="/assets/img/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/aztec_grey.png" alt="" />
                    <img src="/assets/img/clients/aztec.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/gamescast_grey.png" alt="" />
                    <img src="/assets/img/clients/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/cisco_grey.png" alt="" />
                    <img src="/assets/img/clients/cisco.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/everyday_grey.png" alt="" />
                    <img src="/assets/img/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/cocacola_grey.png" alt="" />
                    <img src="/assets/img/clients/cocacola.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/spinworkx_grey.png" alt="" />
                    <img src="/assets/img/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/shell_grey.png" alt="" />
                    <img src="/assets/img/clients/shell.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/natural_grey.png" alt="" />
                    <img src="/assets/img/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/gamescast_grey.png" alt="" />
                    <img src="/assets/img/clients/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/everyday_grey.png" alt="" />
                    <img src="/assets/img/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/spinworkx_grey.png" alt="" />
                    <img src="/assets/img/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
        </ul>*@
    </div><!--/flexslider-->
    <!-- //End Our Clients -->
</div><!--/container-->
<!--=== End Content Part ===-->

@section customjs{

}