@{
    ViewBag.Title = "上传作品";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section customstyles{
        <!--This CSS entry was added by the Telerik VS Extensions for compatibility reasons-->
<link href="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/css/kendo.compatibility.css" rel="stylesheet" type="text/css" />
<link href="https://kendo.cdn.telerik.com/2015.2.902/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="https://kendo.cdn.telerik.com/2015.2.902/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
<link href="https://kendo.cdn.telerik.com/2015.2.902/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
<link href="https://kendo.cdn.telerik.com/2015.2.902/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="https://kendo.cdn.telerik.com/2015.2.902/styles/kendo.dataviz.bootstrap.min.css" rel="stylesheet" type="text/css" />

}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-20">
    <div class="container">
        <h1 class="color-green pull-left">上传作品</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="~/">主页</a> <span class="divider">/</span></li>
            <li>会员<span class="divider">/</span></li>
            <li class="active">上传作品</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container">
    <div class="row-fluid">
        <div class="span3">
            <!-- Our Mission -->
            <div class="margin-bottom-20">
                <div class="headline"><h3>使用说明</h3></div>
                <p>填写左边框中信息后点击上传按钮。</p>
            </div>

            <!-- Posts -->
            <div class="posts margin-bottom-20">
                <div class="headline"><h3>会员管理</h3></div>
                <dl class="dl-horizontal">
                    <dt><a href="#"><img src="/images/upload.jpg" alt="" /></a></dt>
                    <dd>
                        <p><a href="#">作品上传</a></p>
                    </dd>
                </dl>
            </div><!--/posts-->
            <!-- Contact Us -->
            <div class="who margin-bottom-30">
                <div class="headline"><h3>联系我们</h3></div>
                <p></p>
                <ul class="unstyled">
                    <li><a href="#"><i class="icon-envelope-alt"></i>service@zeuspark.com</a></li>
                    <li><a href="#"><i class="icon-globe"></i>http://www.zeuspark.com</a></li>
                </ul>
            </div>
        </div><!--/span3-->

        <div class="span9">
            <form class="reg-page" id="publishform" method="post" action="/user/AddArt">
            <h3>上传艺术品</h3>
            <div class="controls">
                <label>作品名称 <span class="color-red">*</span></label>
                <input class="span12" type="text" name="title" value="" placeholder="请录入作品名称 （*必填)" required validationmessage="请输入作品名称" />
                <label>作品简介 <span class="color-red">*</span></label>
                <textarea class="span12" rows="10" cols="30" name="zpms" placeholder="作品简介（*必填）" required validationmessage="请输入作品简介"></textarea>
                <label>作品类型</label>
                <select name="pinlei" class="span12">
                    <option value="">请选择作品类型</option>
                    <option value="yh">油画</option>
                    <option value="bx">丙烯</option>
                    <option value="gh">国画</option>
                    <option value="zhcl">综合材料</option>
                    <option value="sy">摄影</option>
                    <option value="ds">雕塑</option>
                    <option value="zz">装置</option>
                    <option value="sc">水彩</option>
                    <option value="sm">素描</option>
                    <option value="ch">插画</option>
                    <option value="sf">书法</option>
                    <option value="smht">数码绘图</option>
                    <option value="qt">其他</option>
                </select>
                <label>作品价格 <span class="color-red">*</span></label>
                <input class="span12" type="text" name="price" placeholder="请录入作品价格 （*必填） ￥/RMB" required validationmessage="请输入作品价格">
                <label>作品主图片 （<span class="color-red">*</span>必填, 选择一张图片小于2MB）</label>

                <input name="file1" id="file1" type="file" />

                <label>作品其他图片 （<span class="color-red">*</span>必填，选择一张图片小于2MB）</label>
                <input name="file2" id="file2" type="file" />
            </div>
            <div class="controls">
                <label></label>
            </div>
            <div class="controls form-inline">
                <label class="checkbox"><input type="checkbox" required validationmessage="请同意ZeusPark条款" />&nbsp; 我同意 <a id="itemlink">ZeusPark相关条款</a></label>
                <button class="btn-u pull-right" type="submit" id="save">上   传</button>
            </div>
            <hr />
            </form>
        </div><!--/span9-->
    </div><!--/row-fluid-->
    <!-- Our Clients -->
    <div id="clients-flexslider" class="flexslider home clients">
        <div class="headline"><h3>新上传作品</h3></div>
        @*<ul class="slides">
            <li>
                <a href="#">
                    <img src="/assets/img/clients/hp_grey.png" alt="" />
                    <img src="/assets/img/clients/hp.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/igneus_grey.png" alt="" />
                    <img src="/assets/img/clients/igneus.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/vadafone_grey.png" alt="" />
                    <img src="/assets/img/clients/vadafone.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/walmart_grey.png" alt="" />
                    <img src="/assets/img/clients/walmart.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/shell_grey.png" alt="" />
                    <img src="/assets/img/clients/shell.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/natural_grey.png" alt="" />
                    <img src="/assets/img/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/aztec_grey.png" alt="" />
                    <img src="/assets/img/clients/aztec.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/gamescast_grey.png" alt="" />
                    <img src="/assets/img/clients/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/cisco_grey.png" alt="" />
                    <img src="/assets/img/clients/cisco.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/everyday_grey.png" alt="" />
                    <img src="/assets/img/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/cocacola_grey.png" alt="" />
                    <img src="/assets/img/clients/cocacola.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/spinworkx_grey.png" alt="" />
                    <img src="/assets/img/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/shell_grey.png" alt="" />
                    <img src="/assets/img/clients/shell.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/natural_grey.png" alt="" />
                    <img src="/assets/img/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/gamescast_grey.png" alt="" />
                    <img src="/assets/img/clients/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/everyday_grey.png" alt="" />
                    <img src="/assets/img/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/clients/spinworkx_grey.png" alt="" />
                    <img src="/assets/img/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
        </ul>*@
    </div><!--/flexslider-->
    <!-- //End Our Clients -->
</div><!--/container-->
<!--=== End Content Part ===-->
<div id="window">
    <p>ZEUSPARK.COM在线艺术市场（www.zeuspark.com）上的商品由上海煜铭实业有限公司（“ZEUSPARK.COM）或其关联公司或第三方卖家销售。如果您在ZEUSPARK网购物，您便接受了以下交易条款。请仔细阅读这些条款。当您使用ZEUSPARK.COM目前或将来提供的服务（例如，我的账户、拍卖、VIP会员、画廊、相关服务等）时，您同时应接受适用于那些服务的条款、准则和条件（“特殊条款”）；如果以下交易条款与特殊条款有不一致之处，则以特殊条款为准。通过ZEUSPARK.COM购买商品和/或使用其提供的服务，您同意接受本交易条款和所有有关的政策、条件和准则的约束。如果您不同意本交易条款中的任何一条，您可以选择不在ZEUSPARK.COM购买商品或接受服务。 ”
    </p>
    <p>
        1. ZEUSPARK.COM账户
        您注册成功后，ZEUSPARK.COM将为您开通一个账户，作为您在ZEUSPARK.COM交易及使用ZEUSPARK.COM服务时的唯一身份标识，该账户的登录名和密码由您负责保管。如果您使用ZEUSPARK.COM网站，您有责任对您的账户和密码保守秘密并对进入您的计算机作出限制，并且您同意对在您的账户和密码下发生的所有活动承担责任。ZEUSPARK.COM上销售的部分艺术品可能会给您带来心理或生理上带来不适，对此请您斟酌进入。如果您在18岁以下，您只能在父母或监护人的参与下才能使用ZEUSPARK.COM。ZEUSPARK.COM保留在中华人民共和国法律允许的范围内独自决定拒绝服务、关闭账户、清除或编辑内容或取消订单的权利。
        用户在申请使用ZEUSPARK.COM网络服务时，必须准确提供必要的资料，如资料有任何变动 ，请在ZEUSPARK.COM网站（www.ZEUSPARK.COM）上及时更新。
    </p>
    <p>
        2. 合同的订立
        ZEUSPARK.COM站上的商品图片展示、说明和价格并不构成要约。如果您通过我们网站订购产品，您的订单就成为一种购买产品的申请或要约。我们将发送给您一封确认收到订单的电子邮件，其中载明订单的细节。但是只有当我们向您发出送货确认的电子邮件通知您我们已将产品发出时，我们对您合同申请的批准与接受才成立。如果您在一份订单里订购了多种产品并且我们只给您发出了关于其中一部分的发货确认电子邮件，那么直到我们发出关于其他产品的发货确认电子邮件，关于那部分产品的合同才成立。当您所购买的商品离开了ZEUSPARK.COM的库房时，该物品的所有权和灭失风险即转移到您这一方。
        ZEUSPARK.COM保留对产品订购的数量的限制权。在下订单的同时，您也同时承认了您拥有购买这些产品的权利能力和行为能力，并且您对您在订单中提供的所有信息的真实性负责。
    </p>
    <p>
        3. 产品说明
        ZEUSPARK.COM努力使产品说明尽可能准确。不过，我们并不保证产品说明或ZEUSPARK.COM网站上的其他内容是准确的、完整的、可靠的、最新的或无错误的。如果ZEUSPARK.COM提供的产品本身并非如说明所说，您唯一的救济是将该未经使用过的产品退还我们。
    </p>
    <p>
        4. 版权声明
        ZEUSPARK.COM站上的所有内容诸如文字、图表、标识、按钮图标、图像、声音文件片段、数字下载、数据编辑和软件、商标都是ZEUSPARK.COM或其内容提供者的财产，受中国和国际版权法的保护。未经ZEUSPARK.COM书面授权或许可，不得以任何目的对ZEUSPARK.COM网站或其任何部分进行复制、复印、仿造、出售、转售、访问、或以其他方式加以利用。    
    </p>
    <p>
        5. 隐私声明
        ZEUSPARK.COM不会向任何第三方披露、转让、出租或者出售交易用户名单、交易记录等涉及消费者个人信息的数据以及您保存在ZEUSPARK.COM各项服务中的非公开内容，除非您明确授权ZEUSPARK.COM，或ZEUSPARK.COM在诚信基础上认为透露这些信息是必要的。您了解并同意，ZEUSPARK.COM有权根据相应法律法规的要求，或应政府部门（包括司法及行政部门）的要求，向其提供您在ZEUSPARK.COM填写的注册信息和交易纪录等必要信息。如您涉嫌侵犯他人知识产权，则ZEUSPARK.COM亦有权在初步判断涉嫌侵权行为存在的情况下，向权利人提供您必要的身份信息。
    </p>
    <button class="btn-u" id="closedialog">关闭</button>
</div>
@Html.Partial("_Processing")

@section customjs{
<script src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/js/jquery-migrate-1.2.1.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2015.2.902/js/jszip.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2015.2.902/js/kendo.all.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2015.2.902/js/kendo.modernizr.custom.js"></script>

<script type="text/javascript">

    var validator = $("#publishform").kendoValidator().data("kendoValidator");

    $(document).ready(function () {
        $("#file1").kendoUpload();
        $("#file2").kendoUpload();

        var myWindow = $("#window"), link = $("#itemlink");
        var closelink = $("#closedialog");
        link.click(function () {
            myWindow.data("kendoWindow").open();
        });
        closelink.click(function () {
            myWindow.data("kendoWindow").close();
        });

        function onClose() {
        }

        myWindow.kendoWindow({
            width: "800px",
            height: "600px",
            title: "ZEUSPARK.COM交易条款",
            visible: false,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ],
            close: onClose
        }).data("kendoWindow").center().close();
    });

    $("#save").on("click", function () {
        if (validator.validate()) {
            $("#divProcessing").show();
            // If the form is valid, the Validator will return true
            //save();
        }
    });

</script>
}