@model ZeusPark.Service.Model.ProductGroupVM

@{
    ViewBag.Title = "产品列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/assets/css/img-hover-effect.css" />    
<link rel="stylesheet" href="/assets/plugins/portfolioSorting/css/sorting.css" />    

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="color-green pull-left">@Model.GroupName</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">主页</a> <span class="divider">/</span></li>
            <li class="active">@Model.GroupName</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container portfolio-columns portfolio-responsive">
    <div class="row-fluid">
        <ul class="portfolio recent-work clearfix">
            @{
                foreach (var item in Model.Products)
                {
                    <li data-id="id-1" class="ios">
                        <a href="/productdetail/details/@item.ProductID">
                            <em class="overflow-hidden"><img src="@item.MainImageUrl" alt="" style="height: 250px; width:250px;" /></em>
                            <span>
                                <strong>@item.Name </strong>
                                <i>¥@item.DisplaySinglePrice</i>
                            </span>
                        </a>
                    </li>
                }
            }
        </ul>
</div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->
