<!--=== Slider ===-->
		<div class="tp-banner-container">
			<div class="tp-banner">
				<ul>
					<!-- SLIDE -->
					<li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 1">
						<!-- MAIN IMAGE -->
						<img src="http://asset.zeuspark.com/newhome/bg1.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

						<div class="tp-caption revolution-ch1 sft start slidefont1"
						data-x="center"
						data-hoffset="0"
						data-y="100"
						data-speed="1500"
						data-start="500"
						data-easing="Back.easeInOut"
						data-endeasing="Power1.easeIn"
						data-endspeed="300">
						FLEXA <br>
						COLLECTION<br>
						IS HERE
						</div>

					<!-- LAYER -->
					<div class="tp-caption sft"
					data-x="center"
					data-hoffset="0"
					data-y="380"
					data-speed="1600"
					data-start="1800"
					data-easing="Power4.easeOut"
					data-endspeed="300"
					data-endeasing="Power1.easeIn"
					data-captionhidden="off"
					style="z-index: 6">
					<a href="#/prodlist/200707059" class="btn-u btn-brd btn-brd-hover btn-u-light">Shop Now</a>
					</div>
			</li>
			<!-- END SLIDE -->

			<!-- SLIDE -->
			<li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
				<!-- MAIN IMAGE -->
				<img src="http://asset.zeuspark.com/newhome/bg2.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

				<div class="tp-caption revolution-ch3 sft start slidefont1"
				data-x="center"
				data-hoffset="0"
				data-y="140"
				data-speed="0"
				data-start="500"
				data-easing="Back.easeInOut"
				data-endeasing="Power1.easeIn"
				data-endspeed="0">
				FLEXA Solid wood furniture for children <br>
					Created in 1972 in Denmark
			</div>

					<!-- LAYER -->
		<div class="tp-caption sft"
		data-x="center"
		data-hoffset="0"
		data-y="300"
		data-speed="1600"
		data-start="1800"
		data-easing="Power4.easeOut"
		data-endspeed="300"
		data-endeasing="Power1.easeIn"
		data-captionhidden="off"
		style="z-index: 6">
		<a href="#/prodlist/200707059" class="btn-u btn-brd btn-brd-hover btn-u-light">Shop Now</a>
</li>
<!-- END SLIDE -->

<!-- SLIDE -->
<li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 3">
	<!-- MAIN IMAGE -->
	<img src="http://asset.zeuspark.com/newhome/bg3.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="right top" data-bgrepeat="no-repeat">

	<div class="tp-caption revolution-ch3 sft start slidefont2"
	data-x="right"
	data-hoffset="5"
	data-y="130"
	data-speed="1500"
	data-start="500"
	data-easing="Back.easeInOut"
	data-endeasing="Power1.easeIn"
	data-endspeed="300">
	<strong>BAGHERA</strong> 
</div>

<!-- LAYER -->
<div class="tp-caption revolution-ch4 sft slidefont2"
	data-x="right"
	data-hoffset="0"
	data-y="210"
	data-speed="1400"
	data-start="2000"
	data-easing="Power4.easeOut"
	data-endspeed="300"
	data-endeasing="Power1.easeIn"
	data-captionhidden="off"
	style="z-index: 6">
Produce  beautiful  vintage  pedal cars  for children<br>
Produce  ride for toddlers
</div>

<!-- LAYER -->
<div class="tp-caption sft"
	data-x="right"
	data-hoffset="0"
	data-y="300"
	data-speed="1600"
	data-start="2800"
	data-easing="Power4.easeOut"
	data-endspeed="300"
	data-endeasing="Power1.easeIn"
	data-captionhidden="off"
	style="z-index: 6">
<a href="#/proddetail/533" class="btn-u btn-brd btn-brd-hover btn-u-light">Shop Now</a>
</div>
</li>
<!-- END SLIDE -->

<!-- SLIDE -->
<li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 4">
	<!-- MAIN IMAGE -->
	<img src="http://asset.zeuspark.com/newhome/bg4.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

	<div class="tp-caption revolution-ch1 sft start"
	data-x="center"
	data-hoffset="0"
	data-y="100"
	data-speed="1500"
	data-start="500"
	data-easing="Back.easeInOut"
	data-endeasing="Power1.easeIn"
	data-endspeed="300">
	BAGHERA
</div>

<!-- LAYER -->
<div class="tp-caption revolution-ch2 sft"
	data-x="center"
	data-hoffset="0"
	data-y="280"
	data-speed="1400"
	data-start="2000"
	data-easing="Power4.easeOut"
	data-endspeed="300"
	data-endeasing="Power1.easeIn"
	data-captionhidden="off"
	style="z-index: 6">
	Super Promo
</div>

<!-- LAYER -->
<div class="tp-caption sft"
	data-x="center"
	data-hoffset="0"
	data-y="370"
	data-speed="1600"
	data-start="2800"
	data-easing="Power4.easeOut"
	data-endspeed="300"
	data-endeasing="Power1.easeIn"
	data-captionhidden="off"
	style="z-index: 6">
<a href="#/prodlist/200707046" class="btn-u btn-brd btn-brd-hover btn-u-light">View More</a>
<a href="#/proddetail/534" class="btn-u btn-brd btn-brd-hover btn-u-light">Shop Now</a>
</div>
</li>
<!-- END SLIDE -->

<!-- SLIDE -->
<li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 5">
	<!-- MAIN IMAGE -->
	<img src="http://asset.zeuspark.com/newhome/bg5.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="right top" data-bgrepeat="no-repeat">

	<div class="tp-caption revolution-ch5 sft start"
	data-x="right"
	data-hoffset="5"
	data-y="130"
	data-speed="1500"
	data-start="500"
	data-easing="Back.easeInOut"
	data-endeasing="Power1.easeIn"
	data-endspeed="300">
	<strong>BAGHERA</strong> Collection
</div>

<!-- LAYER -->
<div class="tp-caption revolution-ch4 sft"
	data-x="right"
	data-hoffset="-14"
	data-y="210"
	data-speed="1400"
	data-start="2000"
	data-easing="Power4.easeOut"
	data-endspeed="300"
	data-endeasing="Power1.easeIn"
	data-captionhidden="off"
	style="z-index: 6">
Produce  beautiful  vintage  pedal cars  for children<br>

</div>

<!-- LAYER -->
<div class="tp-caption sft"
	data-x="right"
	data-hoffset="0"
	data-y="300"
	data-speed="1600"
	data-start="2800"
	data-easing="Power4.easeOut"
	data-endspeed="300"
	data-endeasing="Power1.easeIn"
	data-captionhidden="off"
	style="z-index: 6">
<a href="#/proddetail/532" class="btn-u btn-brd btn-brd-hover btn-u-light">Shop Now</a>
</div>
</li>
<!-- END SLIDE -->
</ul>
<div class="tp-bannertimer tp-bottom"></div>
</div>
</div>
<!--=== End Slider ===-->

<!--=== Product Content ===-->
<div class="container content-md">
	<!--=== Illustration v1 ===-->
	<div class="row margin-bottom-60">
		<div class="col-md-6 md-margin-bottom-30">
			<div class="overflow-h">
				<div class="illustration-v1 illustration-img1">
					<div class="illustration-bg">
						<div class="illustration-ads ad-details-v1">
							<h3>Mid-Autumn SALE 30% - 60% off</h3>
							<a class="btn-u btn-brd btn-brd-hover btn-u-light" href="#/prodlist/210000005">Shop Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="overflow-h">
				<a class="illustration-v1 illustration-img2" href="#/prodlist/210000005">
					<span class="illustration-bg">
						<span class="illustration-ads ad-details-v2">
							<span class="item-name">LE CREUSET</span>
							<span class="item-time">Since 1925 France</span>
						</span>
					</span>
				</a>
			</div>
		</div>
	</div><!--/end row-->
	<!--=== End Illustration v1 ===-->

	<div class="heading heading-v1 margin-bottom-20">
		<h2>Featured products</h2>
		<p>All FLEXA products are designed to create a safe and stimulating environment which adapts, grows and transforms to meet children’s ongoing developmental needs. We use our knowledge of children to create the world best functional.</p>
	</div>

	<!--=== Illustration v2 ===-->
	<div class="illustration-v2 margin-bottom-60">
		<div class="customNavigation margin-bottom-25">
			<a class="owl-btn prev rounded-x"><i class="fa fa-angle-left"></i></a>
			<a class="owl-btn next rounded-x"><i class="fa fa-angle-right"></i></a>
		</div>

		<ul class="list-inline owl-slider">
			<li class="item">
				<div class="product-img">
					<a href="/#/proddetail/502"><img class="full-width img-responsive" src="http://asset.zeuspark.com/newhome/feature1.png" alt=""></a>
					<a class="product-review" href="/#/proddetail/502">产品详情</a>
					<a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>加入购物车</a>
					<div class="shop-rgba-dark-green rgba-banner">New</div>
				</div>
				<div class="product-description product-description-brd">
					<div class="overflow-h margin-bottom-5">
						<div class="pull-left">
							<h4 class="title-price"><a href="/#/proddetail/502">FLEXA 基本床</a></h4>
							<span class="gender text-uppercase">1米3宽床</span>
							<span class="gender"></span>
						</div>
						<div class="product-price">
							<span class="title-price">￥6201.00</span>
						</div>
					</div>
					<ul class="list-inline product-ratings">
						<li><i class="rating-selected fa fa-star"></i></li>
						<li><i class="rating-selected fa fa-star"></i></li>
						<li><i class="rating-selected fa fa-star"></i></li>
						<li><i class="rating-selected fa fa-star"></i></li>
						<li><i class="rating-selected fa fa-star"></i></li>
						<li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
					</ul>
				</div>
			</li>
			<li class="item">
				<div class="product-img">
					<a href="/#/proddetail/495"><img class="full-width img-responsive" src="http://asset.zeuspark.com/newhome/feature2.png" alt=""></a>
					<a class="product-review" href="/#/proddetail/495">产品详情</a>
					<a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>加入购物车</a>
				</div>
				<div class="product-description product-description-brd">
					<div class="overflow-h margin-bottom-5">
						<div class="pull-left">
							<h4 class="title-price"><a href="/#/proddetail/495">FLEXA 滑梯床</a></h4>
							<span class="gender text-uppercase">直梯款 1米宽床</span>
							<span class="gender"></span>
						</div>
						<div class="product-price">
							<span class="title-price">￥11954.00</span>
						</div>
					</div>
					<ul class="list-inline product-ratings">
						<li><i class="rating-selected fa fa-star"></i></li>
						<li><i class="rating-selected fa fa-star"></i></li>
						<li><i class="rating-selected fa fa-star"></i></li>
						<li><i class="rating fa fa-star"></i></li>
						<li><i class="rating fa fa-star"></i></li>
						<li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
					</ul>
				</div>
			</li>
			<li class="item">
				<div class="product-img">
					<a href="/#/proddetail/487"><img class="full-width img-responsive" src="http://asset.zeuspark.com/newhome/feature3.png" alt=""></a>
					<a class="product-review" href="/#/proddetail/487">产品详情</a>
					<a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>加入购物车</a>
				</div>
				<div class="product-description product-description-brd">
					<div class="overflow-h margin-bottom-5">
						<div class="pull-left">
							<h4 class="title-price"><a href="/#/proddetail/487">FLEXA 三门衣柜</a></h4>
							<span class="gender text-uppercase">三门</span>
							<span class="gender"></span>
						</div>
						<div class="product-price">
							<span class="title-price">￥17967.00</span>
						</div>
					</div>
					<ul class="list-inline product-ratings">
						<li><i class="rating-selected fa fa-star"></i></li>
						<li><i class="rating-selected fa fa-star"></i></li>
						<li><i class="rating-selected fa fa-star"></i></li>
						<li><i class="rating fa fa-star"></i></li>
						<li><i class="rating fa fa-star"></i></li>
						<li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
					</ul>
				</div>
			</li>
			<li class="item">
				<div class="product-img">
					<a href="/#/proddetail/485"><img class="full-width img-responsive" src="http://asset.zeuspark.com/newhome/feature4.JPG" alt=""></a>
					<a class="product-review" href="/#/proddetail/485">产品详情</a>
					<a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>加入购物车</a>
				</div>
				<div class="product-description product-description-brd">
					<div class="overflow-h margin-bottom-5">
						<div class="pull-left">
							<h4 class="title-price"><a href="/#/proddetail/485">FLEXA 绘图桌</a></h4>
							<span class="gender text-uppercase">1米宽</span>
							<span class="gender"></span>
						</div>
						<div class="product-price">
							<span class="title-price">￥4485.00</span>
						</div>
					</div>
					<ul class="list-inline product-ratings">
						<li><i class="rating-selected fa fa-star"></i></li>
						<li><i class="rating-selected fa fa-star"></i></li>
						<li><i class="rating-selected fa fa-star"></i></li>
						<li><i class="rating fa fa-star"></i></li>
						<li><i class="rating fa fa-star"></i></li>
						<li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
					</ul>
				</div>
			</li>
			<li class="item">
				<div class="product-img">
					<a href="/#/proddetail/502"><img class="full-width img-responsive" src="http://asset.zeuspark.com/newhome/feature1.png" alt=""></a>
					<a class="product-review" href="/#/proddetail/502">产品详情</a>
					<a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>加入购物车</a>
					<div class="shop-rgba-dark-green rgba-banner">New</div>
				</div>
				<div class="product-description product-description-brd">
					<div class="overflow-h margin-bottom-5">
						<div class="pull-left">
							<h4 class="title-price"><a href="/#/proddetail/502">FLEXA 基本床</a></h4>
							<span class="gender text-uppercase">1米3宽床</span>
							<span class="gender"></span>
						</div>
						<div class="product-price">
							<span class="title-price">￥6201.00</span>
						</div>
					</div>
					<ul class="list-inline product-ratings">
						<li><i class="rating-selected fa fa-star"></i></li>
						<li><i class="rating-selected fa fa-star"></i></li>
						<li><i class="rating-selected fa fa-star"></i></li>
						<li><i class="rating-selected fa fa-star"></i></li>
						<li><i class="rating-selected fa fa-star"></i></li>
						<li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
					</ul>
				</div>
			</li>
			<li class="item">
				<div class="product-img">
					<a href="/#/proddetail/495"><img class="full-width img-responsive" src="http://asset.zeuspark.com/newhome/feature2.png" alt=""></a>
					<a class="product-review" href="/#/proddetail/495">产品详情</a>
					<a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>加入购物车</a>
				</div>
				<div class="product-description product-description-brd">
					<div class="overflow-h margin-bottom-5">
						<div class="pull-left">
							<h4 class="title-price"><a href="/#/proddetail/495">FLEXA 滑梯床</a></h4>
							<span class="gender text-uppercase">直梯款 1米宽床</span>
							<span class="gender"></span>
						</div>
						<div class="product-price">
							<span class="title-price">￥11954.00</span>
						</div>
					</div>
					<ul class="list-inline product-ratings">
						<li><i class="rating-selected fa fa-star"></i></li>
						<li><i class="rating-selected fa fa-star"></i></li>
						<li><i class="rating-selected fa fa-star"></i></li>
						<li><i class="rating fa fa-star"></i></li>
						<li><i class="rating fa fa-star"></i></li>
						<li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
	<!--=== End Illustration v2 ===-->

	<!--=== Illustration v3 ===-->
	<div class="row margin-bottom-50">
		<div class="col-md-4 md-margin-bottom-30">
			<div class="overflow-h">
				<a class="illustration-v3 illustration-img1" href="#/proddetail/705">
					<span class="illustration-bg">
						<span class="illustration-ads">
							<span class="illustration-v3-category">
								<span class="product-category">CLASSIC FLIGHT</span>
								<span class="product-amount">RIMOWA</span>
							</span>
						</span>
					</span>
				</a>
			</div>
		</div>
		<div class="col-md-4 md-margin-bottom-30">
			<div class="overflow-h">
				<a class="illustration-v3 illustration-img2" href="#/proddetail/701">
					<span class="illustration-bg">
						<span class="illustration-ads">
							<span class="illustration-v3-category">
								<span class="product-category">SALSA DELUXE</span>
								<span class="product-amount">RIMOWA</span>
							</span>
						</span>
					</span>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="overflow-h">
				<a class="illustration-v3 illustration-img3" href="#/proddetail/706">
					<span class="illustration-bg">
						<span class="illustration-ads">
							<span class="illustration-v3-category">
								<span class="product-category">TOPAS TITANIU</span>
								<span class="product-amount">RIMOWA</span>
							</span>
						</span>
					</span>
				</a>
			</div>
		</div>
	</div>
	<!--=== End Illustration v3 ===-->

	<div class="heading heading-v1 margin-bottom-40">
		<h2>Latest products</h2>
	</div>

	<!--=== Illustration v2 ===-->
	<div class="row illustration-v2">
		<div class="col-md-3 col-sm-6 md-margin-bottom-30">
			<div class="product-img">
				<a href="/#/proddetail/530"><img class="full-width img-responsive" src="http://asset.zeuspark.com/newhome/latest1.jpg" alt=""></a>
				<a class="product-review" href="/#/proddetail/530">产品详情</a>
				<a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>加入购物车</a>
			</div>
			<div class="product-description product-description-brd">
				<div class="overflow-h margin-bottom-5">
					<div class="pull-left">
						<h4 class="title-price"><a href="/#/proddetail/530">Playsam 摇摇木兔</a></h4>
						<span class="gender text-uppercase">白色</span>
						<span class="gender"></span>
					</div>
					<div class="product-price">
						<span class="title-price">¥1050.00</span>
					</div>
				</div>
				<ul class="list-inline product-ratings">
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating fa fa-star"></i></li>
					<li><i class="rating fa fa-star"></i></li>
					<li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 md-margin-bottom-30">
			<div class="product-img">
				<a href="/#/proddetail/868"><img class="full-width img-responsive" src="http://asset.zeuspark.com/newhome/latest2.JPG" alt=""></a>
				<a class="product-review" href="/#/proddetail/868">产品详情</a>
				<a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>加入购物车</a>
			</div>
			<div class="product-description product-description-brd">
				<div class="overflow-h margin-bottom-5">
					<div class="pull-left">
						<h4 class="title-price"><a href="/#/proddetail/868">Zuny 法国斗牛犬书档</a></h4>
						<span class="gender text-uppercase">经典款 白+黑色</span>
						<span class="gender"></span>
					</div>
					<div class="product-price">
						<span class="title-price">¥585.00</span>
					</div>
				</div>
				<ul class="list-inline product-ratings">
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating fa fa-star"></i></li>
					<li><i class="rating fa fa-star"></i></li>
					<li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 md-margin-bottom-30">
			<div class="product-img">
				<a href="/#/proddetail/829"><img class="full-width img-responsive" src="http://asset.zeuspark.com/newhome/latest3.jpg" alt=""></a>
				<a class="product-review" href="/#/proddetail/829">产品详情</a>
				<a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>加入购物车</a>
				<div class="shop-rgba-red rgba-banner">热卖</div>
			</div>
			<div class="product-description product-description-brd">
				<div class="overflow-h margin-bottom-5">
					<div class="pull-left">
						<h4 class="title-price"><a href="/#/proddetail/829">Zuny 狮子PUNO书档</a></h4>
						<span class="gender text-uppercase">TAN</span>
						<span class="gender"></span>
					</div>
					<div class="product-price">
						<span class="title-price">¥455.00</span>
					</div>
				</div>
				<ul class="list-inline product-ratings">
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating fa fa-star"></i></li>
					<li><i class="rating fa fa-star"></i></li>
					<li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 md-margin-bottom-30">
			<div class="product-img">
				<a href="/#/proddetail/529"><img class="full-width img-responsive" src="http://asset.zeuspark.com/newhome/latest4.jpg" alt=""></a>
				<a class="product-review" href="/#/proddetail/529">产品详情</a>
				<a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>加入购物车</a>
				<div class="shop-rgba-dark-green rgba-banner">新品</div>
			</div>
			<div class="product-description product-description-brd">
				<div class="overflow-h margin-bottom-5">
					<div class="pull-left">
						<h4 class="title-price"><a href="/#/proddetail/529">Playsam 木质摇摇椅</a></h4>
						<span class="gender text-uppercase">兔子 红色</span>
						<span class="gender"></span>
					</div>
					<div class="product-price">
						<span class="title-price">¥1050.00</span>
					</div>
				</div>
				<ul class="list-inline product-ratings">
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating fa fa-star"></i></li>
					<li><i class="rating fa fa-star"></i></li>
					<li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--=== End Illustration v2 ===-->
</div>
<!--=== End Product Content ===-->

<!--=== Twitter-Block ===-->
<div class="parallaxBg twitter-block margin-bottom-60">
	<div class="container">
		<div class="heading heading-v1 margin-bottom-20">
			<h2 style="font-family: 'Microsoft YaHei ! important;">空间设计</h2>
		</div>

		<div id="carousel-example-generic-v5" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li class="active rounded-x" data-target="#carousel-example-generic-v5" data-slide-to="0"></li>
				<li class="rounded-x" data-target="#carousel-example-generic-v5" data-slide-to="1"></li>
				<li class="rounded-x" data-target="#carousel-example-generic-v5" data-slide-to="2"></li>
			</ol>

			<div class="carousel-inner">
				<div class="item active">
					<p style="font-family: 'Microsoft YaHei ! important;">ZEUSPARK致力于满足客户的高品位要求与精致喜好，甚至将梦想中的生活氛围透过专业的感知力呈现，将所有物件、色彩以最和谐的比例组合，并透过融合当代艺术文化共同创造出最贴近客户心中对的期待。<p>	
						<ul class="list-inline twitter-icons">
							<li><a href="#"><i class="fa fa-reply"></i></a></li>
							<li><a href="#"><i class="fa fa-retweet"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
						</ul>
					</div>
					<div class="item">
						<p style="font-family: 'Microsoft YaHei ! important;">设计的实践，在于精确负责任的施工，ZEUSPARK工程部有多年与知名建商配合的实作经验，经过严格的训练与要求，各部门的配合使得空间美感工程品质，为客户创造心目中舒适及幸福的居家环境。</p>
						<ul class="list-inline twitter-icons">
							<li><a href="#"><i class="fa fa-reply"></i></a></li>
							<li><a href="#"><i class="fa fa-retweet"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
						</ul>
					</div>
					<div class="item">
						<p style="font-family: 'Microsoft YaHei ! important;">我们提倡发散式美学哲思，结合艺术与陈设与空间设计，积极将视觉艺术、陈列文化、人文空间、香氛品味等多重面向的设计融合、延伸，创造新典雅时尚的现代风格。</p>
						<ul class="list-inline twitter-icons">
							<li><a href="#"><i class="fa fa-reply"></i></a></li>
							<li><a href="#"><i class="fa fa-retweet"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="carousel-arrow">
					<a class="left carousel-control" href="#carousel-example-generic-v5" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic-v5" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--=== End Twitter-Block ===-->

	<div class="container">


		<!--=== Illustration v4 ===-->
		<div class="row illustration-v4 margin-bottom-40">
			<div class="col-md-4">
				<div class="heading heading-v1 margin-bottom-20">
					<h2>Top Rated</h2>
				</div>
				<div class="thumb-product">
					<img class="thumb-product-img" src="http://asset.zeuspark.com/newhome/top1.jpg" alt="">
					<div class="thumb-product-in">
						<h4><a href="/#/proddetail/865">Zuny 河马书档</a></h4>
						<span class="thumb-product-type">经典款</span>
					</div>
					<ul class="list-inline overflow-h">
						<li class="thumb-product-price">¥525.00</li>
						<li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
					</ul>
				</div>
				<div class="thumb-product">
					<img class="thumb-product-img" src="http://asset.zeuspark.com/newhome/top2.jpg" alt="">
					<div class="thumb-product-in">
						<h4><a href="/#/proddetail/832">Zuny 大象书档</a></h4>
						<span class="thumb-product-type">粉色</span>
					</div>
					<ul class="list-inline overflow-h">
						<li class="thumb-product-price">¥395.00</li>
						<li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
					</ul>
				</div>
				<div class="thumb-product">
					<img class="thumb-product-img" src="http://asset.zeuspark.com/newhome/top3.JPG" alt="">
					<div class="thumb-product-in">
						<h4><a href="/#/proddetail/868">Zuny 法国斗牛犬书档</a></h4>
						<span class="thumb-product-type">经典款</span>
					</div>
					<ul class="list-inline overflow-h">
						<li class="thumb-product-price">¥585.00</li>
						<li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="heading heading-v1 margin-bottom-20">
					<h2>Best Sellers</h2>
				</div>
				<div class="thumb-product">
					<img class="thumb-product-img" src="http://asset.zeuspark.com/newhome/top4.jpg" alt="">
					<div class="thumb-product-in">
						<h4><a href="/#/proddetail/848">Zuny 新款马 书挡</a></h4>
						<span class="thumb-product-type">经典款</span>
					</div>
					<ul class="list-inline overflow-h">
						<li class="thumb-product-price">¥455.00</li>
						<li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
					</ul>
				</div>
				<div class="thumb-product">
					<img class="thumb-product-img" src="http://asset.zeuspark.com/newhome/top5.jpg" alt="">
					<div class="thumb-product-in">
						<h4><a href="/#/proddetail/857">Zuny 公鸡 书挡</a></h4>
						<span class="thumb-product-type">新款</span>
					</div>
					<ul class="list-inline overflow-h">
						<li class="thumb-product-price">¥455.00</li>
						<li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
					</ul>
				</div>
				<div class="thumb-product">
					<img class="thumb-product-img" src="http://asset.zeuspark.com/newhome/top6.jpg" alt="">
					<div class="thumb-product-in">
						<h4><a href="/#/proddetail/838">Zuny 恐龙 书档</a></h4>
						<span class="thumb-product-type">Bobo II 棕+小麦</span>
					</div>
					<ul class="list-inline overflow-h">
						<li class="thumb-product-price">¥455.00</li>
						<li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 padding">
				<div class="heading heading-v1 margin-bottom-20">
					<h2>Sale Items</h2>
				</div>
				<div class="thumb-product">
					<img class="thumb-product-img" src="http://asset.zeuspark.com/newhome/top7.jpg" alt="">
					<div class="thumb-product-in">
						<h4><a href="/#/proddetail/851">Zuny 西伯利亚野牛 书挡</a></h4>
						<span class="thumb-product-type">新款</span>
					</div>
					<ul class="list-inline overflow-h">
						<li class="thumb-product-price">¥455.00</li>
						<li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
					</ul>
				</div>
				<div class="thumb-product">
					<img class="thumb-product-img" src="http://asset.zeuspark.com/newhome/top8.jpg" alt="">
					<div class="thumb-product-in">
						<h4><a href="/#/proddetail/842">Zuny 老鼠GINO 书档</a></h4>
						<span class="thumb-product-type">咖啡色+小麦色</span>
					</div>
					<ul class="list-inline overflow-h">
						<li class="thumb-product-price">¥455.00</li>
						<li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
					</ul>
				</div>
				<div class="thumb-product">
					<img class="thumb-product-img" src="http://asset.zeuspark.com/newhome/top9.JPG" alt="">
					<div class="thumb-product-in">
						<h4><a href="/#/proddetail/828">Zuny 狮子ABO 书档</a></h4>
						<span class="thumb-product-type">BROWN</span>
					</div>
					<ul class="list-inline overflow-h">
						<li class="thumb-product-price">¥455.00</li>
						<li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
					</ul>
				</div>
			</div>
		</div><!--/end row-->
		<!--=== End Illustration v4 ===-->
	</div><!--/end cotnainer-->

	<!--=== Collection Banner ===-->
	<div class="collection-banner">
		<div class="container">
			<div class="col-md-7 md-margin-bottom-50">
				<h2>RIMOWA  COLLECTION</h2>
				<p>Originally developed for tropical travel, 
					 <br>these cases with their robust shell of aluminium magnesium are today
					 <br>still among the lightest and most stable luggage ranges in their class.</p><br>
				<a href="#/prodlist/200707046" class="btn-u btn-brd btn-brd-hover btn-u-light">Shop Now</a>
			</div>
			<div class="col-md-5">
				<div class="overflow-h">
					<span class="percent-numb">50</span>
					<div class="percent-off">
						<span class="discount-percent">%</span>
						<span class="discount-off">off</span>
					</div>
					<div class="new-offers shop-bg-green rounded-x">
						<p>new</p>
						<span>Products</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--=== End Collection Banner ===-->

	<!--=== Sponsors ===-->
	<div class="container content">
		<div class="heading heading-v1 margin-bottom-40">
			<h2>Coporate Brand</h2>
			<p>There are more than 30 brands which are closely coporating with ZEUSPARK. You can get best price for these brand products on ZEUSPARK.</p>
		</div>

		<ul class="list-inline owl-slider-v2">
			<li class="item first-child">
				<img src="http://asset.zeuspark.com/newhome/logo11.jpg" alt="">
			</li>
			<li class="item">
				<img src="http://asset.zeuspark.com/newhome/logo12.jpg" alt="">
			</li>
			<li class="item">
				<img src="http://asset.zeuspark.com/newhome/logo13.jpg" alt="">
			</li>
			<li class="item">
				<img src="http://asset.zeuspark.com/newhome/logo14.jpg" alt="">
			</li>
			<li class="item">
				<img src="http://asset.zeuspark.com/newhome/logo15.jpg" alt="">
			</li>
			<li class="item">
				<img src="http://asset.zeuspark.com/newhome/logo16.jpg" alt="">
			</li>
			<li class="item">
				<img src="http://asset.zeuspark.com/newhome/logo17.jpg" alt="">
			</li>
			<li class="item">
				<img src="http://asset.zeuspark.com/newhome/logo18.jpg" alt="">
			</li>
			<li class="item">
				<img src="http://asset.zeuspark.com/newhome/logo11.jpg" alt="">
			</li>
			<li class="item">
				<img src="http://asset.zeuspark.com/newhome/logo12.jpg" alt="">
			</li>
			<li class="item">
				<img src="http://asset.zeuspark.com/newhome/logo13.jpg" alt="">
			</li>
			<li class="item">
				<img src="http://asset.zeuspark.com/newhome/logo14.jpg" alt="">
			</li>
		</ul><!--/end owl-carousel-->
	</div>
	<!--=== End Sponsors ===-->

	<!--=== Shop Suvbscribe ===-->
	<div class="shop-subscribe">
		<div class="container">
			<div class="row">
				<div class="col-md-8 md-margin-bottom-20">
					<h2>SUBSCRIBE TO OUR WEEKLY NEWSLETTER</h2>
				</div>
				<div class="col-md-4">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Email your email...">
						<span class="input-group-btn">
							<button class="btn" type="button"><i class="fa fa-envelope-o"></i></button>
						</span>
					</div>
				</div>
			</div>
		</div><!--/end container-->
	</div>
	<!--=== End Shop Suvbscribe ===-->