@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <!-- JiaThis Button BEGIN -->
        <div class="jiathis_style_32x32">
            <a class="jiathis_button_tsina"></a>
            <a class="jiathis_button_weixin"></a>
            <a class="jiathis_button_renren"></a>
            <a class="jiathis_counter_style"></a>
        </div>
        <script type="text/javascript">
    var jiathis_config = { data_track_clickback: 'true' };
        </script>
        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1365819293506257" charset="utf-8"></script>
        <!-- JiaThis Button END -->
    </div>
</body>
</html>
