@{
    ViewBag.Title = "ShopCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/style.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="http://libs.useso.com/js/font-awesome/4.2.0/css/font-awesome.min.css" />

<div class="container">

    <div class="row">
        <div class="col-md-9">

            <div class="row">
                <div class="col-md-9">
                    <script type="text/javascript">
					/*购物车*/
					var cpro_id = "u2239328";
                    </script>
                    <script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="ct-product">
                        <div class="image">
                            <img src="images/product-01.jpg" alt="">
                        </div>
                        <div class="inner">
                            <a href="#" class="btn btn-motive ct-product-button">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                            <h2 class="ct-product-title">小米电源</h2>
                            <p class="ct-product-description">中国最好的电源</p>
                            <span class="ct-product-price">$29.99</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ct-product">
                        <div class="image"><img src="images/product-02.jpg" alt=""></div>
                        <div class="inner">
                            <a href="#" class="btn btn-motive ct-product-button"><i class="fa fa-shopping-cart"></i></a>
                            <h2 class="ct-product-title">Cherry Straws</h2>
                            <p class="ct-product-description">A very delicious macaroons ...</p><span class="ct-product-price">$34.99</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ct-product">
                        <div class="image"><img src="images/product-03.jpg" alt=""></div>
                        <div class="inner">
                            <a href="#" class="btn btn-motive ct-product-button"><i class="fa fa-shopping-cart"></i></a>
                            <h2 class="ct-product-title">Coffee Macaroons</h2>
                            <p class="ct-product-description">A very delicious macaroons ...</p><span class="ct-product-price">$59.99</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ct-product">
                        <div class="image"><img src="images/product-04.jpg" alt=""></div>
                        <div class="inner">
                            <a href="#" class="btn btn-motive ct-product-button"><i class="fa fa-shopping-cart"></i></a>
                            <h2 class="ct-product-title">Finetti ones</h2>
                            <p class="ct-product-description">A very delicious macaroons ...</p><span class="ct-product-price">$9.99</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ct-product">
                        <div class="image"><img src="images/product-05.jpg" alt=""></div>
                        <div class="inner">
                            <a href="#" class="btn btn-motive ct-product-button"><i class="fa fa-shopping-cart"></i></a>
                            <h2 class="ct-product-title">Minty duo</h2>
                            <p class="ct-product-description">A very delicious macaroons ...</p><span class="ct-product-price">$3.99</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ct-product">
                        <div class="image ct-product-button"><img src="images/product-06.jpg" alt=""></div>
                        <div class="inner">
                            <a href="#" class="btn btn-motive ct-product-button"><i class="icon-shopping-cart"></i></a>
                            <h2 class="ct-product-title">Pistachio</h2>
                            <p class="ct-product-description">A very delicious macaroons ...</p><span class="ct-product-price">$13.99</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="border:1px solid #ccc;position:fixed;right: 30px;">
            
        </div>

    </div>
</div>
